In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
from dataset import generate_tt_dataset

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
dinfo_train, dinfo_test = generate_tt_dataset(
    seed=42, n_3b=200_0000, n_all4b=200_0000, signal_ratio=0.015, test_ratio=0.2
)

dinfo_train_2, dinfo_test_2 = generate_tt_dataset(
    seed=42, n_3b=200_0000, n_all4b=200_0000, signal_ratio=0.015, test_ratio=0.2
)

In [4]:
df_train = dinfo_train.fetch_data()
df_train_2 = dinfo_train_2.fetch_data()
df_test = dinfo_test.fetch_data()
df_test_2 = dinfo_test_2.fetch_data()

In [5]:
assert df_train.equals(df_train_2)
assert df_test.equals(df_test_2)

In [6]:
df_train.head()
df_test.head()

,Jet0_pt,Jet1_pt,Jet2_pt,Jet3_pt,Jet0_eta,Jet1_eta,Jet2_eta,Jet3_eta,Jet0_phi,Jet1_phi,...,sym_Jet0_phi,sym_Jet0_pt,sym_Jet0_m,sym_Jet1_pt,sym_Jet1_m,sym_Jet2_pt,sym_Jet2_m,sym_Jet3_pt,sym_Jet3_m,signal
0,102.627190,88.484100,73.482193,64.660904,0.276450,1.218454,0.829643,-1.543073,3.055435,-2.709024,...,0,102.627190,0.0,88.484100,0.0,73.482193,0.0,64.660904,0.0,False
1,107.726097,69.418266,63.368328,51.620911,1.790683,-0.429038,-0.529767,0.779059,2.325519,2.058803,...,0,107.726097,0.0,69.418266,0.0,63.368328,0.0,51.620911,0.0,False
2,181.930542,111.711487,51.089893,43.021870,-1.466572,-1.906868,-0.384857,-2.477571,-1.044509,2.489904,...,0,181.930542,0.0,111.711487,0.0,51.089893,0.0,43.021870,0.0,False
3,74.663414,64.822693,59.594830,54.634785,-0.640479,0.188939,1.059412,2.089017,2.890759,-1.264300,...,0,74.663414,0.0,64.822693,0.0,59.594830,0.0,54.634785,0.0,False
4,70.948875,68.576927,63.459507,45.534973,1.085591,-0.288453,-1.485473,0.631771,0.700424,-2.665915,...,0,70.948875,0.0,68.576927,0.0,63.459507,0.0,45.534973,0.0,False

Seed set to 42

['NbrnTP3fAbnF', 'bmOHnKYaXRvj']
Test Data